html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.section__backgroundH2 {
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    border-radius: 15px;
    border: solid 2px grey;
    margin: 5px;
}

.section__Header3 {
    display: inline-block;
    background-color: rgb(211, 199, 199);
    padding: 5px;
    padding-left: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 8px;
    box-shadow: 5px 0px 5px 5px #B3BFBD;
    border: 1px solid whitesmoke;
}

.section__Text {
    padding: 15px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.section__Header2 {
    color: brown;
    padding: 10px;
    font-weight: bold;
    text-shadow: 2px 0px 12px #333232;
}

.section__Text__Important {
    background-color: rgb(221, 221, 221);
}